* {
  margin: 0;
  padding: 0;
}

#Container {
  min-height: 100vh;
  background-color: black;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.item_container .item {
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-transform: uppercase;
}

.pagination_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-20px, -50%);
  width: 55px;
}
.pagination_container .pagination {
  text-decoration: none;
  background-color: #ffffff;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border-radius: 2px;

}